/* Background styling */
#login-body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/background_2.jpg') no-repeat center center;
    background-size: cover;
    filter: grayscale(25%);
    opacity: 0.3;
    z-index: -1;
}

/* Box container styling */
.box-container {
    background: #ffffff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Password container styling */
.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#togglePassword i {
    font-size: 1.1rem;
    color: #6c757d;
}

/* Fullscreen container */
.container-fluid.vh-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Logo and header styling */
.logo-img {
    width: 25%;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
}
